<%- include("partials/header"); %>
<form class="add-material add-note px-3 my-3 text-left" action="" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" id="noteTitle" placeholder="<%=note.title%>">
  </div>
  <div class="mb-3">
    <label for="subject_id" class="form-label">Subject</label>
    <select name="subject_id" id="subject_id" class="form-select" aria-label="Select subject">
      <option value="">
        No Change
      </option>
      <% subjects.forEach(subject=> { %>
        <option value="<%= subject.id%>">
          <%= subject.name%>
        </option>
        <% }); %>
    </select>
  </div>
  <div class="mb-3">
    <label for="module_no" class="form-label">Module</label>
    <input type="number" class="form-control" name="module_no" id="module_no" min=1 max=5 placeholder="<%=note.module_no%>">
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link</label>
    <input type="text" class="form-control" name="link" id="link" value="">
  </div>
  <button class="btn btn-secondary" type="submit">Finish</button>
</form>
<div class="px-3">
  <div class="alert alert-primary" role="alert">
    Cannot find a department, subject or syllabus? <a href="/add">Add it here.</a>
  </div>
</div>
<%- include("partials/footer"); %>