<%- include("partials/header"); %>
<div class="content-wrap container-fluid">
    <section id="title" class="center-align">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1 class="main-heading">Access Learning Resources.</h1>
                <a class="btn btn-lg btn-register" href="/register" role="button">Register</a>
                <a class="btn btn-lg" href="#departments" role="button">Get Started</a>
            </div>
            <div class="col-lg-6 col-md-12 img-col">
                <img src="/hero-image.jpg" alt="Illustration of students engaging with EduTrack">
            </div>
        </div>
    </section>
    
    <section id="features" class="center-align">
        <h1 class="heading">Features</h1>
        <div class="row">
            <div class="col-lg-6 feature">
                <i class="fa-solid fa-book icon"></i>
                <p class="features-title">Access Study Materials with Ease</p>
            </div>  
            <div class="col-lg-6 feature">
                <i class="fa-solid fa-file-lines icon"></i>
                <p class="features-title">Explore Past Questions</p>
            </div>
        </div> 
    </section>

    <section id="departments" class="center-align">
        <h1 class="heading">Departments</h1>
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <% departments.forEach((dept) => { %>
                <div class="col-lg-4 col-md-6">
                    <div class="card dept-card">
                        <div class="card-header">
                            <h3><%= dept.name %></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Department Code: <%= dept.code %></p>
                            <div class="dropdown">
                                <button class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Select Semester
                                </button>
                                <ul class="dropdown-menu">
                                    <% for( i=1; i<=8; i++ ) {%>
                                        <li><a class="dropdown-item" href="/departments/<%= dept.code.toLowerCase() %>/semesters/<%= i %>">Semester <%= i %></a></li>
                                    <% } %>
                                </ul>
                              </div>
                        </div>
                    </div>
                </div> 
            <% }); %>
        </div>
    </section>
</div>
<%- include("partials/footer"); %>
