<%- include("partials/sidebar"); %>
      <main class="col-md-9 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Syllabuses</h1>
          <div class="me-2">
            <a role="button" class="btn btn-sm btn-outline-secondary" href="/add">Add</a>
          </div>
        </div>
        <div class="table-responsive small">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Syllabus</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% sybs.forEach(sb => { %>
              <tr>
                <td><%=sb.id %></td>
                <td>
                  <a href="<%= sb.pdf_link %>"><%=`${sb.code.toUpperCase()} ${sb.semester} Sem ${sb.scheme}`%></a>
                </td>
                <td>
                  <a href="/edit?type=syllabus&id=<%= sb.id%>">Edit</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  <%- include("partials/footer"); %>