<%-include("partials/header")%>
<%- include("partials/sidebar"); %>
      <main class="col-md-9 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Departments</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="me-2">
              <a role="button" class="btn btn-sm btn-outline-secondary" href="/add">Add</a>
            </div>
          </div>
        </div>
        <div class="table-responsive small">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% departments.forEach(d=> { %>
              <tr>
                <td><%=d.id %></td>
                <td><%=d.code %></td>
                <td><%=d.name %></td>
                <td>
                <% if (authRole==='admin' ){ %>
                  <a href="<%=d.editLink %>">Edit</a> | <a href="<%=d.deleteLink %>">Delete</a>
                <% } else { %>
                  <a href="<%=d.editLink %>">Edit</a>
                <% }%>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  <%- include("partials/footer"); %>