<%-include("partials/header")%>
<%- include("partials/sidebar"); %>
      <main class="col-md-9 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">IA Question Papers</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="me-2">
              <a role="button" class="btn btn-sm btn-outline-secondary" href="/add-material">Add</a>
            </div>
          </div>
        </div>
        <div class="table-responsive small">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Course</th>
                <th scope="col">Department</th>
                <th scope="col">Number</th>
                <th scope="col">Year</th>
                <% if (authRole==='admin' ){ %>
                  <th scope="col">Action</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% qps.forEach(qp => { %>
              <tr>
                <td><%= qp.subject %></td>
                <td><%= qp.dept %></td>
                <td><a href="<%= qp.link %>">IA-<%= qp.test_number %></a></td>
                <td><%= qp.year %></td>
                <% if (authRole==='admin' ){ %>
                <td>
                  <a href="/ia-papers/delete?year=<%= qp.year %>&subject=<%= qp.subject_id%>&dept=<%= qp.dept_id%>&number=<%= qp.test_number %>">Delete</a>
                </td>
                <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  <%- include("partials/footer"); %>