<%- include("partials/header"); %>
<div class="pb-60">
<div class="d-flex flex-nowrap">
        <div class="sidebar border border-right col-md-3 p-3 bg-body-tertiary d-flex flex-column justify-content-between">
            <ul class="flex-column mb-auto profile">
                <li>
                    <p class="display-6"><%= user.username %></p>
                </li>
                <% if(authId == user.id){ %>
                <li>
                    <p>Email: <%= user.email %></p>
                </li>
                <% } %>
                <li>
                    <div class="d-flex align-items-center gap-2"><p>Role: </p><span class="badge text-bg-secondary"><%=user.role.toUpperCase()%></span></p>
                </li>
            </ul>
            <% if(authId==user.id){ %>
            <div class="text-center">
                <button class="btn btn-danger delete delete-acc" href='#' role="button" data-bs-toggle="modal"
                    data-bs-target="#confirmProfileDeletion"><i class="fa-solid fa-trash"></i> Delete Account</button>
            </div>
            <% } %>
        </div>
        <% if(authId==user.id){ %>
        <div class="modal fade" id="confirmProfileDeletion" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeletionLabel">Confirm Deletion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>Are you sure you want to delete your account?</span>
                        <br />
                        <p class="warning-text bold">This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger delete" href="/u/<%=user.id%>/delete" class="link">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    <div class="col-md-9 px-md-4">
    <% if(authId==user.id){ %>
    <h2 class="heading text-start">Your Bookmarks</h2>
    <div class="row row-cols-1 row-cols-md-2">
        <% bookmarks.forEach(note => { %>
            <div class="col-6">
                <div class="note-card">
                    <div class="d-flex gap-2 align-items-center justify-content-between">
                        <h3><a href="<%= note.link %>">
                                <%= note.title %>
                            </a></h3>
                        <a class="bookmark" href="/u/bookmarks/add?uid=<%=authId%>&nid=<%=note.id%>" title="Bookmark"><i
                                class="bookmark-btn fa-solid fa-star fa-lg"></i></a>
                    </div>
                    <p class="my-2">Module: <%= note.module_no %>
                    </p>
                </div>
            </div>
        <% }); %>
        </div>
        <% } else {%>
            <div class="mt-3"><small class="text-body-secondary">Profile information is only visible to the user.</small></div>
        <% } %> 
    </div>
</div>
</div>
<%- include("partials/footer"); %>