<%- include("partials/header"); %>
<div class="content-wrap container-fluid">
<% if(authId && authId == user.id){ %>
<section id="profile" class="center-align">
    <h1 class="heading">Your Profile</h1>
        <div class="col-lg-12 col-md-6">
            <div class="card profile-card">
                <div class="card-header">
                    <h3>Name:  <%= user.username %></h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Email: <%= user.email %></p>
                    <p class="card-text">Role: <%= user.role.toUpperCase() %></p>
                    <a class="btn btn-lg btn-danger delete w-40" href='#' role="button" data-bs-toggle="modal" data-bs-target="#confirmProfileDeletion"><i class="fa-solid fa-trash"></i> Delete profile</a>

                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmProfileDeletion" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeletionLabel">Confirm Deletion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>Are you sure you want to delete your account?</span>
                        <br />
                        <p class="warning-text bold">This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger delete" href="/u/<%=user.id%>/delete" class="link">Delete</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<section id="bookmarks">
    <h2 class="heading">Your Bookmarks</h2>
    <div class="row row-cols-1 row-cols-md-3 text-center">
        <% bookmarks.forEach((note) => { %>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header d-flex gap-2 align-items-center justify-content-between">
                        <h3 mb-0><%= note.title %></h3>
                        <a class="bookmark" href="/u/bookmarks/delete?uid=<%=authId%>&nid=<%=note.id%>"><i
                                class="bookmark-delete-btn fa-solid fa-trash fa-lg"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Module <%= note.module_no %></p>
    
                        <a class="btn btn-lg w-40" href="<%= note.link %>" role="button"><i class="fa-solid fa-book-open-reader"></i> Open</a>
    
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
</section>
<% }else{ %>
<section id="profile" class="center-align">
    <h1 class="heading">Profile</h1>
    <div class="col-lg-12 col-md-6">
        <div class="card profile-card">
            <div class="card-body">
                <p class="card-text">Username: <%= user.username %>
                <p class="card-text">Role: <%= user.role %>
                </p>
            </div>
        </div>
        </div>
</section>
<% } %>

</div>
<%- include("partials/footer"); %>