<%- include("partials/header"); %>
<div class="content-wrap container-fluid">
    <h1 class="heading py-4">Search Results</h1>
<div class="row pt-3 pb-3 mx-lg-4 px-3 px-lg-5">
  <div class="table-responsive">
    <table class="table search-results">
      <thead class="table-light">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Course</th>
          <th scope="col" class="text-center">Module</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  <% results.forEach(r => { %>
    <tr>
      <td>
        <p><a href="<%= r.link %>"><%=r.title%></a></p>
      </td>
      <td>
        <p>
          <%= r.subject %>
        </p>
      </td>
      <td>
        <p class="text-center"><%= r.module_no %></p>
      </td>
      <td>
        <a class="bookmark" href="/u/bookmarks/add?uid=<%=authId%>&nid=<%=r.id%>" title="Bookmark">
          <i class="bookmark-btn fa-solid fa-star"></i>
        </a>
      </td>  
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</div>
</div>
<%- include("partials/footer"); %>