<%- include("partials/header"); %>
  <div class="content-wrap container-fluid">
    <h1 class="heading py-4">Search Results</h1>
    <div class="row pt-3 pb-3 px-3 px-lg-5">
      <div class="table-responsive">
        <table class="table qp-search-results mx-auto">
          <thead class="table-light">
            <tr>
              <th scope="col">Year</th>
              <th scope="col">course</th>
              <th scope="col">Scheme</th>
            </tr>
          </thead>
          <tbody>
            <% results.forEach(r=> { %>
              <tr>
                <td>
                  <p><a href="<%= r.link %>">
                      <%=r.year%>
                    </a></p>
                </td>
                <td>
                  <p>
                    <%= r.subject %>
                  </p>
                </td>
                <td>
                  <p>
                    <%= r.scheme %>
                  </p>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%- include("partials/footer"); %>