<%- include("partials/header"); %>
<div class="content-wrap container-fluid">
<div class="row pt-3 pb-3 mx-lg-4 px-3 px-lg-5">
  <% results.forEach(r => { %>
    <div class="col-lg-4 pb-3 px-0">
      <div class="card subject-card py-1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title pb-2"><a href="<%= r.link %>">
              <%=r.title%>
            </a>
            <a class="bookmark" href="/u/bookmarks/add?uid=<%=authId%>&nid=<%=r.id%>"><i class="fa-regular fa-star"></i></a>
          </h5>
          <h6 class="card-subtitle mb-2 text-body-secondary mb-3">
            <%= r.subject %>
          </h6>
          <p class="card-subtitle text-body-secondary">Module: <%= r.module_no %></p>
          
        </div>
      </div>
    </div>
    <% }); %>
</div>
</div>
<%- include("partials/footer"); %>