<%- include("partials/header"); %>


<div class="subjects">
    <h1 class="heading">Materials for 
        <%= subjectCode %>
    </h1>

    <div class="syllabus">

    </div>

    <div class="notes">
        <h2>Notes</h2>

        <div class="row row-cols-1 row-cols-md-3 text-center">
        <% notes.forEach((note) => { %>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                    <h3><%= note.title %></h3>
                    </div>
                    <div class="card-body">
                    <p><a href="<% note.link %>"><%= note.title %> </a></p>
                    <button type="button" class="btn btn-lg btn-outline-dark w-100">Button </button>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
    </div>

    <div class="qps">
        <h1 class="heading">Question papers</h1>
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <% notes.forEach((note) => { %>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                        <h3><%= note.title %></h3>
                        </div>
                        <div class="card-body">
                        <p><a href="<% note.link %>"><%= note.title %> </a></p>
                        <button type="button" class="btn btn-lg btn-outline-dark w-100">Button </button>
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
    </div>
    
    
    <!-- <table>
        <tr>
          <th>Type</th>
          <th>Materials</th>
        </tr>

        <tr>
          <td>Syllabus</td>
          <td><a href="<%= syllabus[0].pdf_link %>">Syllabus</a></td>
        </tr>

        <tr>
            <td>Notes</td>
            <td>
                <% notes.forEach(note => { %>
                    <a href="<% note.link %>"><%= note.title %> </a><br>
                <% }); %>
            </td>
        </tr>

        <tr>
            <td>Question Papers</td>
            <td>
                <% questionPapers.forEach(qp => { %>
                        <strong>Scheme:</strong> <%= qp.scheme %> 
                        <strong>Year:</strong> <%= qp.year %> 
                        <a href="<% qp.link %>">Link</a><br>
                <% }); %>
            </td>
        </tr>
    </table> -->
    
</div>

<%- include("partials/footer"); %>