<%- include("partials/header"); %>
<div class="content-wrap container-fluid">
    <div class="subjects pt-2">
        <h1 class="heading">Materials for
            <%= subjectCode %>
        </h1>
        <div class="syllabus">
            <p class="text-center"><a href="<%= syllabus[0].pdf_link %>">Syllabus</a></p>
        </div>

        <div class="notes">
            <h2 class="heading">Slide</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <% notes.forEach((note)=> { %>
                    <div class="col-6">
                        <div class="note-card mh-140">
                            <div class="d-flex gap-2 align-items-center justify-content-between">
                            <h3><a href="<%= note.link %>"><%= note.title %></a></h3>
                            <a class="bookmark" href="/u/bookmarks/add?uid=<%=authId%>&nid=<%=note.id%>" title="Bookmark"><i
                                    class="bookmark-btn fa-solid fa-star fa-lg"></i></a>
                            </div>
                            <p class="my-2">Module: <%= note.module_no %></p>
                            <div>
                                <% tags.forEach((tag)=> { %>
                                    <% if(tag.note_id===note.id){ %>
                                        <a class="btn btn-sm tags display-tags" href="#" role="button">
                                            <%= tag.tag_name %>
                                        </a>
                                        <% } %>
                                            <% }); %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div class="qps">
            <h2 class="heading">Question Papers</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <% questionPapers.forEach((qp)=> { %>
                    <div class="col-6">
                        <div class="note-card qp-card">
                            <h3><a href="<%= qp.link %>"><%= qp.year %></a></h3>
                            <p class="my-2">Scheme: <%= qp.scheme %></p>
                            <div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <div class="test_qps">
            <h2 class="heading"> Question Papers</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <% test_qps.forEach((qp)=> { %>
                    <div class="col-6">
                        <div class="note-card qp-card">
                            <h3><a href="<%= qp.link %>">
                                    <%= qp.code.toUpperCase() %> IA-<%= qp.test_number %>
                                </a></h3>
                            <p class="my-2">Year: <%= qp.year %>
                            </p>
                            <div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer"); %>