<%- include("partials/header"); %>


<div class="subjects">
    <h1 class="heading">Materials for 
        <%= subjectCode %>
    </h1>

    <div class="syllabus">
        <h2 class="heading">Syllabus</h2>
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <% syllabus.forEach((syllabus) => { %>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Scheme: <%= syllabus.scheme %><a class="bookmark" href="#"><i class="fa-regular fa-star"></i></a></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Semester: <%= syllabus.semester %></p>
    
                            <a class="btn btn-lg w-40" href="<%= syllabus.pdf_link %>" role="button"><i class="fa-solid fa-book-open-reader"></i> Open</a>
                            <button type="button" class="btn btn-lg w-40"><i class="fa-solid fa-pen"></i> Edit</button><br>
    
                        </div>
                    </div>
                </div>
                
            <% }); %>
        </div>
    </div>

    <div class="notes">
        <h2 class="heading">Notes</h2>

        <div class="row row-cols-1 row-cols-md-3 text-center">
        <% notes.forEach((note) => { %>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3><%= note.title %><a class="bookmark" href="#"><i class="fa-regular fa-star"></i></a></h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Module <%= note.module_no %></p>

                        <p class="card-text">Tags: 
                        <% tags.forEach((tag) => { %>
                            <% if(tag.note_id === note.id){ %>
                                 <a class="btn tags" href="#" role="button"><%= tag.tag_name %></a>
                                <% } %>
                        <% }); %></p>

                        <a class="btn btn-lg w-40" href="<%= note.link %>" role="button"><i class="fa-solid fa-book-open-reader"></i> Open</a>
                        <button type="button" class="btn btn-lg w-40"><i class="fa-solid fa-pen"></i> Edit</button><br>
                        <button type="button" class="btn btn-lg w-40"><i class="fa-solid fa-trash"></i> Delete</button>

                    </div>
                </div>
            </div>
            
        <% }); %>
        </div>
    </div>

    <div class="qps">
        <h2 class="heading">Question Papers</h2>
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <% questionPapers.forEach((qp) => { %>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Year: <%= qp.year %> <a href="#">     <i class="fa-regular fa-star"></i></a></h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Scheme <%= qp.scheme %></p>

                            <a class="btn btn-lg w-40" href="<%= qp.link %>" role="button"><i class="fa-solid fa-book-open-reader"></i> Open</a>
                            <button type="button" class="btn btn-lg w-40"><i class="fa-solid fa-pen"></i> Edit</button><br>
                            <button type="button" class="btn btn-lg w-40"><i class="fa-solid fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div> 
            <% }); %>
        </div>
    </div>
    
</div>

<%- include("partials/footer"); %>