<%- include("partials/header"); %>

    <div class="subjects">
        <h1 class="heading">Materials for
            <%= subjectCode %>
        </h1>

        <div class="syllabus">
            <h2 class="heading">Syllabus</h2>
            <div class="row row-cols-1 row-cols-md-3 text-center">
                <% syllabus.forEach((syllabus)=> { %>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h3>Scheme: <%= syllabus.scheme %>
                                </h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Semester: <%= syllabus.semester %>
                                </p>

                                <a class="btn btn-primary" href="<%= syllabus.pdf_link %>" role="button"><i
                                        class="fa-solid fa-book-open-reader"></i> Open</a>
                                <% if (authRole !=='student' ){ %>
                                    <a class="btn btn-primary" href="/edit?type=syllabus&id=<%= syllabus.id%>"><i
                                            class="fa-solid fa-pen"></i> Edit</a><br>
                                    <% } %>
                            </div>
                        </div>
                    </div>

                    <% }); %>
            </div>
        </div>

        <div class="notes">
            <h2 class="heading">Notes</h2>

            <div class="row row-cols-1 row-cols-md-3 text-center">
                <% notes.forEach((note)=> { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header d-flex gap-2 align-items-center justify-content-between">
                                <h3 class="">
                                    <%= note.title %>
                                </h3>
                                <a class="bookmark" href="/u/bookmarks/add?uid=<%=authId%>&nid=<%=note.id%>"><i
                                        class="bookmark-btn fa-solid fa-star fa-lg"></i></a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Module <%= note.module_no %>
                                </p>

                                <p class="card-text">Tags:
                                    <% tags.forEach((tag)=> { %>
                                        <% if(tag.note_id===note.id){ %>
                                            <a class="btn btn-sm tags display-tags" href="#" role="button">
                                                <%= tag.tag_name %>
                                            </a>
                                            <% } %>
                                                <% }); %>
                                </p>

                                <a class="btn btn-primary" href="<%= note.link %>" role="button"><i
                                        class="fa-solid fa-book-open-reader"></i> Open</a>
                                <% if (authRole !=='student' ){ %>
                                    <a class="btn btn-primary"
                                        href="/departments/<%= deptCode %>/notes/edit?id=<%=note.id %>" role="button"><i
                                            class="fa-solid fa-pen"></i> Edit</a><br>
                                    <% } %>
                                        <% if (authRole==='admin' ){ %>
                                            <a class="btn btn-primary"
                                                href="/departments/<%= deptCode %>/notes/delete?id=<%=note.id %>"><i
                                                    class="fa-solid fa-trash"></i> Delete</a>
                                            <% } %>
                            </div>
                        </div>
                    </div>

                    <% }); %>
            </div>
        </div>

        <div class="qps">
            <h2 class="heading">Question Papers</h2>
            <div class="row row-cols-1 row-cols-md-3 text-center">
                <% questionPapers.forEach((qp)=> { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>Year: <%= qp.year %>
                                </h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Scheme <%= qp.scheme %>
                                </p>

                                <a class="btn btn-primary" href="<%= qp.link %>" role="button"><i
                                        class="fa-solid fa-book-open-reader"></i> Open</a>
                                <% if (authRole !=='student' ){ %>
                                    <a class="btn btn-primary"
                                        href="/departments/<%= deptCode %>/question-papers/edit?year=<%=qp.year %>&subject=<%=qp.subject_id%>&scheme=<%=qp.scheme%>"
                                        role="button"><i class="fa-solid fa-pen"></i> Edit</a><br>
                                    <% } %>
                                        <% if (authRole==='admin' ){ %>
                                            <a class="btn btn-primary"
                                                href="/departments/<%= deptCode %>/question-papers/delete?year=<%=qp.year %>&subject=<%=qp.subject_id%>&scheme=<%=qp.scheme%>"><i
                                                    class="fa-solid fa-trash"></i> Delete</a>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

    </div>

    <%- include("partials/footer"); %>